.single-page {
  --separation: var(--pal-size-not-font-m);
  --cmp-glass-border-radius: var(--pal-size-not-font-2xs);

  display: flex;
  flex-direction: column;
  gap: calc(var(--separation) * 2);
  margin: var(--pal-size-not-font-s);
  padding: var(--separation);
  width: calc(var(--pal-size-not-font-2xl) * 2);

  box-shadow: var(--pal-shadow-1);

  h1 {
    font-size: var(--pal-size-font-l);
    font-weight: 700;

    color: var(--pal-color-gs-14);
  }
}
