.section-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--glb-cmp-l-height);
  height: var(--glb-cmp-l-height);

  color: var(--pal-color-gs-12);
  cursor: pointer;

  transition: color var(--pal-time-s) ease-out,
    background-color var(--pal-time-s) ease-out;

  &:hover {
    background-color: var(--pal-color-gs-0);
  }
}

.section-button--active {
  color: var(--pal-color-gs-0);
  background-color: var(--pal-color-a);
  cursor: default;

  &:hover {
    background-color: var(--pal-color-a);
  }
}
