nav {
  position: fixed;
  z-index: 40;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--cmp-nav-separation);
  height: 100%;

  translate: calc(-100%) 0;

  transition: background-color var(--pal-time-s) ease-out,
    box-shadow var(--pal-time-s) ease-out, translate var(--pal-time-s) ease-out;

  &[data-open='true'] {
    translate: initial;
  }

  @media (width <= 60rem) {
    background-color: var(--pal-color-gs-4);

    &[data-open='true'] {
      box-shadow: var(--pal-shadow-2);
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: var(--cmp-admin-separation);
  }
}
