.loading-button {
  height: var(--palette-size-not-font-m);
  border-radius: var(--palette-size-not-font-4xs);

  color: var(--palette-color-gs-0);
  background-color: var(--palette-color-a);

  transition: box-shadow var(--palette-time-s) ease-out;

  &:hover {
    box-shadow: var(--decorator-shadow-1);
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--palette-size-not-font-2xs);

    transition: opacity var(--palette-time-s) ease-out;
  }

  .fade-enter {
    opacity: 0;
  }

  .fade-exit {
    opacity: 1;
  }

  .fade-enter-active {
    opacity: 1;
  }

  .fade-exit-active {
    opacity: 0;
  }
}
