:root {
  --color-a-bg-light: var(--pal-color-gs-0);
  --color-a-bg-dark: var(--pal-color-gs-17);
  --color-a-content-light: var(--pal-color-gs-13);
  --color-a-content-dark: var(--pal-color-gs-5);
  --color-a-line-light: var(--pal-color-gs-7);
  --color-a-line-dark: var(--pal-color-gs-11);

  --color-b-bg-light: var(--pal-color-gs-3);
  --color-b-bg-dark: var(--pal-color-gs-14);
  --color-b-content-light: var(--pal-color-gs-14);
  --color-b-content-dark: var(--pal-color-gs-3);
  --color-b-line-light: var(--pal-color-gs-8);
  --color-b-line-dark: var(--pal-color-gs-9);

  --color-c-bg-light: var(--pal-color-gs-1);
  --color-c-bg-dark: var(--pal-color-gs-16);
  --color-c-content-light: var(--pal-color-b-d2);
  --color-c-content-dark: var(--pal-color-b-l2);

  --size-gold: var(--pal-size-not-font-s);
  --size-silver: calc(var(--size-gold) * 1.5);

  --glb-font-size: var(--pal-size-font-s);

  --glb-cmp-l-height: var(--pal-size-not-font-m);
  --glb-cmp-l-padding-inline: calc(
    (var(--glb-cmp-l-height) - var(--cmp-icon-size)) / 2
  );
  --glb-cmp-l-gap: calc(var(--glb-cmp-l-padding-inline) * 0.875);

  --component-link-translate-value: 0 -0.1875rem;
  --component-link-translate-transition: translate var(--pal-time-m)
    var(--pal-timing-func-a);
}
