@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  position: relative;
  width: var(--spinner-size);
  height: var(--spinner-size);

  animation: rotate 1.55s ease-in infinite alternate;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: var(--spinner-size);
    height: calc(var(--spinner-size) * 0.5);
    border-radius: 0 0 var(--pal-size-not-font-6xl) var(--pal-size-not-font-6xl);
  }

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 10%;
    height: var(--spinner-size);
    border-radius: var(--pal-size-not-font-6xl);

    animation: rotate 1.25s linear infinite alternate-reverse;
  }
}

.spinner--size-s {
  --spinner-size: 1.25rem;

  &::after {
    width: var(--pal-size-not-font-5xs);
  }
}

.spinner--size-m {
  --spinner-size: var(--pal-size-font-l);

  &::after {
    width: 0.1875rem;
  }
}

.spinner--color-a {
  &::before {
    background-color: var(--pal-color-gs-0);
  }

  &::after {
    background-color: var(--pal-color-gs-14);
  }
}

.spinner--color-b {
  &::before {
    background-color: var(--pal-color-a);
  }

  &::after {
    background-color: var(--pal-color-gs-14);
  }
}
