.admin {
  --cmp-admin-separation: var(--pal-size-not-font-2xs);
  --cmp-nav-separation: var(--cmp-admin-separation);

  width: 100%;
  height: 100%;

  > button {
    visibility: hidden;
    position: absolute;
    z-index: 30;
    display: initial;
    top: 0;
    width: 100%;
    height: 100%;

    background-color: var(--pal-color-gs-19);

    @media (width <= 60rem) {
      visibility: visible;

      opacity: 0.25;

      transition: opacity var(--pal-time-xs) ease-out;

      &[hidden] {
        visibility: hidden;

        opacity: 0;

        transition: opacity var(--pal-time-xs) ease-out,
          visibility var(--pal-time-xs) var(--pal-time-xs);
      }
    }
  }
}
